
service acmesimpledaemon /vendor/bin/hw/acmesimpledaemon
	class main
	user system
	group system
	oneshot


on property:sys.boot_completed=1
	write /dev/kmsg "acmesimpledaemon: on property:sys.boot_completed=1"

on boot 
	write /dev/kmsg "acmesimpledaemon: on boot"
